.boxName {
    color: #fff;
}
.card {
    background-color: #fff;
    min-height: 200px;
    max-height: fit-content;
    border: solid 1px #fff;
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
    border-radius: 15%;
    padding: 12%;
}
.card:hover,
.card:focus,
.card:active {
    color: #222;
    border-color: #222;
    box-shadow: 0 0 15px -10px #727272; 
}
.cardTitle {
    display: flex;
    justify-content: center;
}
.cardTitle h2 {
    font-size: 14px;
    color: #333;
    padding: 12px 0;
    display: block;
    text-transform: capitalize;
}
.cardImage {
    display: block;
    box-sizing: content-box;
}
.cardImage img {
    border-radius: 15%;
}
.card h2 {
margin: 0 0 1rem 0;
font-size: 1.2rem !important;
}
.card p {
margin: 0;
font-size: 1.25rem;
line-height: 1.5;
}
.cardLayout {
display: grid;
grid-template-columns: repeat(3,minmax(0,1fr))
}
.cardLocation {
    font-size: .8rem;
}


.cardLayout .card {
margin: 12px;
}
#cardSingle {
    display: inline-block;
    margin: 1em .6em;
    position: relative;
    width: 27.333%;
}
#cardSingle a {
    display: block;
    width: 100%;
}
#cardSingle .card {
    padding: 2rem;
    width: fit-content;
}
#cardSingle p {
    font-size: .8rem;
    color: #555;
    display: block;
    text-align: center;
}

/* button card starts */
.buttonwrapper {
    display: block;
    position: relative;
    padding: 10px 14px;
    display: flex;
    justify-content: flex-start;
}
.btn {
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 0 5px -1px #727272;
    width: 80px;
    height: 40px;
    border: 0px
}
.btn .btnback {
    text-align: center;
}
.btnwhite {
    background-color: #fff;
    color: #333
}
.cardglassBox .buttonVote {
    height: 34px;
    width: 150px;
    text-align: center;
    text-transform: uppercase;
    color: #000; 
}
.buttonVote:hover, .buttonVote:focus, .buttonVote:visited {
    -webkit-box-shadow: 0px -2px 19px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -2px 19px -4px rgba(0,0,0,0.75);
    box-shadow: 0px -2px 19px -4px rgba(0,0,0,0.75);
}
/* button card ends */
.cardwrapper {
    position: relative;
    padding: 2em;
}

/* glass effect starts */
.cardglass {
/* From https://css.glass */
background: rgba(252, 255, 248, 0.15);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(14.7px);
-webkit-backdrop-filter: blur(14.7px);
}
.cardglassBox {
    display: inline-block;
    height: 200px;
    background: transparent;
    position: relative;
    top: -100px;
    right: -50px;
    width: 500px;
}
.h100 { height: 200px; width: inherit;}
.margin2 { padding: 2em }
/* glass effect ends */



/* media query css */
@media (max-width:992px) {
    .cardLayout {
        display: grid;
        grid-template-columns: repeat(2,minmax(0,1fr))
    }
}
@media (max-width:664px) {
    .cardLayout {
        display: grid;
        grid-template-columns: repeat(1,minmax(0,1fr))
    }
}
  