.container {
  padding: 2rem;
}
.main {
  padding: 1em;
  position: relative;
  width: 100%;
  height: auto;
}
.main::after,
.main::before {
  clear: both;
  content: '';
}

/* Home page heading start */
.homeBannerWrapper {
  position: relative;
  display: flex;
  margin-bottom: 18px;
}
.main .left {
  width: 50%;
}
.main .right {
  text-align: center;
  width: 65%;
}
.title {
  font-size: 2rem;
  margin: 0px;
  text-transform: capitalize;
  width: fit-content
}
.title a {
  font-size: inherit;
}
.title span.w1 {
  font-size: inherit;
  color: #000;
}
.title span.w2 {
  font-size: inherit;
  color: #333;
}
.main .subTitle {
  color: rgb(184, 37, 57);
}
/* Home page heading ends */


/* Button css style start */
.discoverBtn {
  padding: 14px 8px;
  text-align: center;
  font-size: 12px;
  color: #000;
  background-color: #f3f3f3;
  border: 0px;
  box-shadow: 0 0 5px -1px #999;
}
.discoverBtn:hover {
  cursor: pointer;
  box-shadow: 0 0 2px -4px #999;
}
/* Button css style end */


/* device compatability */
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
